.logo-tagline {
	left: 0;
	top: 20px;
}

.wk-logo {
	top: 40px;
}

.user-controls {
	top: 40px;
}

.video__item__play {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/icon_play_big.png',
	sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/icon_play_big.png',
	sizingMethod='scale')";
}

.rotated-text {
	margin-left: 5px;
}

.l-grad {
	background-image: url('../img/ie8_left_grad.png');
	background-repeat: repeat-y;
}

.r-grad {
	background-image: url('../img/ie8_right_grad.png');
	background-repeat: repeat-y;
}

.bottomnav__menu__item {
	color: #fff;
}

.bottomnav__menu__item:hover {
	text-decoration: underline;
}

.expandbg {
	background-color: #03a0d7;
}